Old Projects/Jadeon Sheppard/Week8 Lab2/WebApplication27/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="numEntries">
        <s:complexType />
      </s:element>
      <s:element name="numEntriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numEntriesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="valAt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="valAtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="valAtResult" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setVal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="v" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setValResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setValResult" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="newEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="newEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="newEntryResult" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="numEntriesSoapIn">
    <wsdl:part name="parameters" element="tns:numEntries" />
  </wsdl:message>
  <wsdl:message name="numEntriesSoapOut">
    <wsdl:part name="parameters" element="tns:numEntriesResponse" />
  </wsdl:message>
  <wsdl:message name="valAtSoapIn">
    <wsdl:part name="parameters" element="tns:valAt" />
  </wsdl:message>
  <wsdl:message name="valAtSoapOut">
    <wsdl:part name="parameters" element="tns:valAtResponse" />
  </wsdl:message>
  <wsdl:message name="setValSoapIn">
    <wsdl:part name="parameters" element="tns:setVal" />
  </wsdl:message>
  <wsdl:message name="setValSoapOut">
    <wsdl:part name="parameters" element="tns:setValResponse" />
  </wsdl:message>
  <wsdl:message name="newEntrySoapIn">
    <wsdl:part name="parameters" element="tns:newEntry" />
  </wsdl:message>
  <wsdl:message name="newEntrySoapOut">
    <wsdl:part name="parameters" element="tns:newEntryResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="numEntries">
      <wsdl:input message="tns:numEntriesSoapIn" />
      <wsdl:output message="tns:numEntriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="valAt">
      <wsdl:input message="tns:valAtSoapIn" />
      <wsdl:output message="tns:valAtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setVal">
      <wsdl:input message="tns:setValSoapIn" />
      <wsdl:output message="tns:setValSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="newEntry">
      <wsdl:input message="tns:newEntrySoapIn" />
      <wsdl:output message="tns:newEntrySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="numEntries">
      <soap:operation soapAction="http://localhost/numEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="valAt">
      <soap:operation soapAction="http://localhost/valAt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setVal">
      <soap:operation soapAction="http://localhost/setVal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newEntry">
      <soap:operation soapAction="http://localhost/newEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="numEntries">
      <soap12:operation soapAction="http://localhost/numEntries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="valAt">
      <soap12:operation soapAction="http://localhost/valAt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setVal">
      <soap12:operation soapAction="http://localhost/setVal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newEntry">
      <soap12:operation soapAction="http://localhost/newEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:54311/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:54311/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>